body    { background-color:#EAEAEA; 
        color:#666666; 
        font-family: Verdana, Arial, sans-serif;}

header  { background-color: #002171;
        height: 120px;
        color: #ffffff; 
        font-family: Georgia, sans-serif; } 

header a:link { text-decoration: none; 
                color: #FFFFFF; }
header a:visited { text-decoration: none; 
                   color: #FFFFFF; }
header a:hover { color: #90C7E3; }

* { box-sizing: border-box; }

h1      { font-size: 3em; 
        letter-spacing: 0.25em;
        text-align: center;
        padding-top: 0.5em;
        }

nav     { font-weight: bold; 
        float: left;
        width: 160px;
        font-size: 1.2em;
        padding: 0; 
        position: fixed; }

nav a:link { color: #5C7FA3; }
nav a:visited { color: #5C7FA3; }
nav a:hover { color: #A52A2A; }

nav ul { list-style-type: none; 
         padding-left: 1em; }

h2      { color: #1976D2; 
        font-family: Georgia, sans-serif; }

dt      { color: #002171; 
        font-weight: bold; }

.resort { color: #1976d2; 
        font-size: 1.2em; }

footer  { font-size: .70em; 
          font-style: italic; 
          text-align: center; 
          padding: 1em; 
          background-color: #FFFFFF; 
          margin-left: 170px; }

#wrapper { background-color: #FFFFFF;
        min-width: 960px;
        max-width: 2048px;
        margin-right: auto; 
        margin-left: auto; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
        background: linear-gradient(to bottom, #FFFFFF, #90C7E3) no-repeat; }

h3      { font-family: Georgia, serif; }

main    { background-color: #FFFFFF;
          margin-left: 170px; 
          overflow: auto;
          padding-left: 2em;
          padding-right: 2em;
          display: block; }

section { float: left; 
          width: 33%; 
          padding-left: 2em; 
          padding-right: 2em; }

#homehero { height: 300px; 
            background: url('images/coast.jpg') no-repeat;
            background-size: 100% 100%;
            margin-left: 170px; }

#yurthero { height: 300px;
            background: url('images/yurt.jpg') no-repeat;
            background-size: 100% 100%;
            margin-left: 170px; }

#trailhero { height: 300px;
             background: url('images/trail.jpg') no-repeat;
             background-size: 100% 100%;
             margin-left: 170px;  }

nav a { text-decoration: none; }